.project-full {
  max-width:100%;
  margin:0 auto 0;
}

.project-full img {
  width:100%;
}


a {
  color: #212121;
}



.imgsmall {
  max-width:300px!important;
}

.linklist {
  display:block;
}

.project-full h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  color: #212121;
  font-size: 38px;
  line-height:45px;
}
@media only screen and (min-width: 500px) {
  .project-full h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #212121;
    font-size: 50px;
    line-height:56px;
  }
}




.project-full h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  color: #212121;
  font-size: 30px;
  line-height: 32px;
}
.project-full p {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 34px;
  color: #3b3b3b;
  letter-spacing: -0.01em;
}

.project-wrapper {
  width:94%;
  max-width:1000px;
  margin: 40px auto 50px;
}
.add-space {
  margin: 40px auto 50px;
}


.project-details {
  width:100%;
  float:none;
}
.project-description {
  width:100%;
  float:none;
}


/*@media only screen and (min-width: 500px) {
  .project-details {
    width:30%;
    float:left;
  }
  .project-description {
    width:70%;
    float:left;
  }
}*/




.project-details h4 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #7b7b7b;
    font-size: 15px;
    line-height: 20px;
    margin: 15px 0 0 0;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}
@media only screen and (min-width: 500px) {
  .project-details h4 {
      margin: 45px 0 0 0;
  }
}

.project-details p {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  color: #212121;
  font-size: 15px;
  line-height: 26px;
  margin: 0 0 0 0;
  letter-spacing: 0.05em;
}

.project-details a {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  color: #212121;
  font-size: 15px;
  line-height: 26px;
  margin: 0 0 0 0;
  letter-spacing: 0.05em;
}

.photo-wrapper {
  background: #efefef;
  text-align: center;
  padding: 20px 20px;
  margin: 40px 0;
}
.photo-wrapper img {
  width:100%;
  max-width:1000px;
  margin: 20px auto 20px;
}

.card {
  width: 94%;
  margin: 20px 3% 20px 3%;
  float: none;
  display: block;
}
.card img {
  width:100%;
}

@media only screen and (min-width: 500px) {
  .card {
    width: 31%;
    margin: 1% 1% 1% 1%;
    float: left;
    display: block;
  }
}




.clear {
  clear:both;
}

.center {
  text-align:center;
}